body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;

}

a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.title {
    font-size: 110px;
}

urlFont1 {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.square {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
}





/*
----------------------------------------------

header {
    text-align: right;
    margin-right: 10px;
}

nav a {
    margin-bottom: 0.3rem;
    display: block;
}

.square {
    position: absolute;
    background-color: white;
    width: 3px;
    height: 3px;
}

.title {
    font-size: 100px; 48 
    color: #fff;
    margin: 0;
}

.subtitle {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

a {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

p {
    margin-left: 10px; 
}

*/